// reset

html {
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;

	&:focus {
		outline: none;
	}
}

body {
	background-color: #d1d8ec;
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

form {
	display: block;
}

label,
input,
button {
	display: block;
}

.animate {
	transition: all 0.3s;
}

.main {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.main-heading {
	line-height: 100%;
	font-weight: 600;
	font-size: 28px;
	text-transform: uppercase;
}

.btn {
	display: block;
	height: 50px;
	line-height: 50px;
	border: 0;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	@extend .animate;

	span {
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		@extend .animate;

		i {
			margin-left: 8px;
			font-size: 18px;
			vertical-align: middle;
		}
	}

	span {
		color: #666;
	}

	&:hover {
		background-color: #f7f7f7;
	}

	&.btn-outline {
		background-color: transparent;
		border: 1px solid #fff;

		span {
			color: #fff;
		}

		&:hover {
			background-color: #fff;

			span {
				color: #666;
			}
		}
	}
}

.popup-trigger {
	width: 175px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #d1d8ec;
	box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
	-webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}

.overlay {
	width: 100%;
	height: 100%;
	overflow: auto;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0;
	transform: translateY(200px);
	transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s;

	.overlay-background {
		background-color: #95a5a7;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
	}

	.overlay-content {
		width: 100%;
		max-width: 530px;
		margin: 100px auto 0;
		padding: 0 15px;
		color: #fff;
		position: relative;
		z-index: 10;
		@extend .animate;

		.overlay-close {
			position: absolute;
			font-size: 35px;
			cursor: pointer;
			top: -10px;
			right: 15px;
			background: transparent;
			border: none;
			@extend .animate;
			color: #ffffff;
			&:hover {
				opacity: 0.8;
			}
		}

		.blurb {
			margin-top: 35px;
			line-height: 100%;
			font-weight: 600;
			font-size: 18px;
		}

		.blurb-tagline {
			display: block;
			margin-top: 10px;
			line-height: 100%;
			font-size: 14px;
		}

		.signup-form {
			margin-top: 35px;

			.form-control {
				margin-bottom: 1rem;
				label {
					line-height: 100%;
					margin-bottom: 5px;
					font-size: 14px;
				}

				input {
					background-color: transparent;
					width: 100%;
					height: 30px;
					// margin-bottom: 20px;
					padding: 0 8px;
					border: 1px solid rgba(254, 254, 254, 0.3);
					border-radius: 5px;
					@extend .animate;

					&:hover,
					&:focus {
						border-color: #fff;
					}
				}

				&.success input {
					border-color: rgb(26, 255, 103);
				}
				&.error input {
					border-color: #d65400;
				}

				small {
					color: #d65400;
					visibility: hidden;
				}

				&.error small {
					visibility: visible;
				}
			}

			.submit-btn {
				width: 150px;
			}
		}
	}

	&.open {
		z-index: 15;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.5s, transform 0.5s, z-index 0s;
	}

	&.short .overlay-content {
		margin: 30px auto;
	}
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	place-content: center;
	z-index: 999;
	background-color: #95a5a7;

	.modal-content {
		display: flex;
		gap: 3rem;
		text-align: center;
		color: #fff;
		text-transform: capitalize;
		-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

		@-webkit-keyframes focus-in-expand-fwd {
			0% {
				letter-spacing: -0.5em;
				-webkit-transform: translateZ(-800px);
				transform: translateZ(-800px);
				-webkit-filter: blur(12px);
				filter: blur(12px);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				-webkit-filter: blur(0);
				filter: blur(0);
				opacity: 1;
			}
		}
		@keyframes focus-in-expand-fwd {
			0% {
				letter-spacing: -0.5em;
				-webkit-transform: translateZ(-800px);
				transform: translateZ(-800px);
				-webkit-filter: blur(12px);
				filter: blur(12px);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateZ(0);
				transform: translateZ(0);
				-webkit-filter: blur(0);
				filter: blur(0);
				opacity: 1;
			}
		}

	}
}

@media (max-width: 600px) {
	.overlay .overlay-content {
		margin: 25px auto;
	}
}
